

.video-bkg {

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media(min-aspect-ratio:16/9){
  .video-bkg {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9){
  .video-bkg {
    width: auto;
    height: 100%;
  }
}


.text{
  display: flex;
  align-items: center;
}
.photo{
 display: flex;
  color : White;
  width: 30%;
  padding-left: 2%;
  padding-right: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 10rem;
  text-align: left;
  align-items:center;
  font-family: Arial, Helvetica;
  }

.my-photo{
    display: inline-block;
    width: 35%;
    height: auto; /* Add this line to make sure height adjusts proportionally */
    border-radius: 50%;
    align-items: center;
    align-content: center;
    padding-right: 10px; /* Adjust the padding to your preference */

.quote {

  color : White;
  width: 55%;
  padding-left: 1%;
  padding-right: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 2rem;
  text-align: center;
  font-family: Arial, Helvetica;
  }

  .quote-content em span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: appear 2s ease-in-out forwards;
  }

  @keyframes appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



.author {

  text-transform: uppercase;
  color: rgba(0,154,150,255);
  text-align: right;
  font-size: 1.8rem;
  margin-top: 20px;
  font-family: Arial, Helvetica;
}
