.body{

  background-image:  linear-gradient(to right, rgba(25, 25, 70,0.7), black);

}

.content{

  display: flex;
  flex-direction: column;
  width: 98%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  color:white;
  font-family: Times, Times New Roman, serif;
  font-size: 1.5rem;


}

.info {
  display: flex;
}

.Research-interest{
  display: flex;
  flex: 1.2;
  padding-right:4%;
  padding-bottom: 0%;
  padding-top: 1%;
  padding-left: 3%;
  flex-direction: column;
  align-items: flex-start;

}

.Papers{
  display: flex;
  flex: 1;
  padding-bottom: 0%;
  padding-top: 1%;
  flex-direction: column;
  align-items: flex-start;

}

h2 {

  color: rgba(20,157,213,255);
  text-align: center;
  text-align: left;
}

.Research-interest h2 {

  text-align: left;
}

.title{
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container1{
  width: 50%;
  padding-top:0%;
  margin-top: 0%;
}

.container2{
  width: 50%;
}


a {
  text-decoration: none;
  color: white;
  opacity: .9;
  position: relative;

}

a:hover{
color:grey;
opacity:.8;
transition: color 100ms;
}

.collaborators {
  margin-top: 0%;

}
