.body{

  font-family: Times, Times New Roman, serif;



}

.contact {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}



p {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}
.video-bkg {
  opacity: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media(min-aspect-ratio:16/9){
  .video-bkg {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9){
  .video-bkg {
    width: auto;
    height: 100%;
  }
}
